.auth {
	display: flex;
	align-items: center;
	font-family: Rubik, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	font-style: normal;

	> span:not(.separator) {
		transition: 0.3s ease-in-out;
		cursor: pointer;

		&:hover {
			color: #8a8a8a;
		}
	}

	.separator {
		margin: 0 5px;
	}

	@media (max-width: 973px) {
		font-size: 12px;
	}
}
