.pop_up {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	cursor: default;
	z-index: -1;
	opacity: 0;
	transition: 0.3s ease-in-out;
	display: flex;
	justify-content: end;

	.pop_up__overlay {
		position: absolute;
		width: 50%;
		height: 100%;
		background: #fff;
		padding: 15px;
		-webkit-box-shadow: -3px 0px 33px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: -3px 0px 33px 0px rgba(0, 0, 0, 0.75);
		box-shadow: -3px 0px 33px 0px rgba(0, 0, 0, 0.75);
		transform: translateX(1000px);
		transition: transform 0.4s ease-in-out;

		.pop_up__close {
			position: absolute;
			right: 15px;
			top: 15px;
			cursor: pointer;
		}

		@media (max-width: 680px) {
			.pop_up__close {
				right: 5px;
				top: 5px;
			}
		}

		.pop_up__container {
			> *:not(:first-child) {
				margin-top: 30px;
			}

			.exchange {
				> div > div {
					display: block;

					> b,
					span {
						font-size: 16px;
					}
				}
			}

			.auth {
				> * {
					font-size: 16px;
				}
			}

			> ul {
				> li:not(:first-child) {
					margin-top: 20px;
				}

				> li > a {
					font-size: 16px;
				}
			}

			@media (max-width: 680px) {
				.exchange {
					> div > div {
						> b,
						span {
							font-size: 14px;
						}
					}
				}

				.auth {
					> * {
						font-size: 14px;
					}
				}

				> ul > li {
					> a {
						font-size: 14px;
					}

					> button {
						justify-content: center;
						flex-wrap: wrap;
						white-space: wrap;
					}
				}
			}
		}
	}

	&.open {
		z-index: 999;
		opacity: 1;

		.pop_up__overlay {
			transform: translateX(0);
		}
	}
}

.auth {
	display: flex;
	align-items: center;
	font-family: Rubik, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	font-style: normal;

	> span:not(.separator) {
		transition: 0.3s ease-in-out;
		cursor: pointer;

		&:hover {
			color: #8a8a8a;
		}
	}

	.separator {
		margin: 0 5px;
	}
}

.register {
	display: flex;
	flex-wrap: wrap;

	> span {
		font-weight: 400;
		font-family: Rubik, sans-serif;
		font-size: 16px;
		line-height: 22.4px;
	}

	.register__link {
		margin-left: 5px;
	}
}

.popUp {
	width: 100%;
	background: #fff;
	box-shadow: 0 16px 16px 0 #0000001a;
	border-radius: 10px;

	.popUp__header {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #e0e0e0;
		padding: 10px;

		.popUp__avatar_name {
			display: flex;
			flex-direction: column;
			margin-left: 8px;

			> b {
				font-family: Rubik, sans-serif;
				font-weight: 600;
				font-size: 14px;
				line-height: 14px;
			}

			> span {
				font-family: Rubik, sans-serif;
				font-weight: 500;
				font-size: 14px;
				line-height: 16.8px;
				color: #6e7191;
			}
		}
	}

	.popUp__content > a {
		display: flex;
		align-items: center;
		padding: 10px;
		transition: 0.2s ease-in;

		> span {
			font-family: Rubik, sans-serif;
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: #2d2d2d;
			margin-left: 16px;
		}

		&:not(:first-child) {
			margin-top: 8px;
		}

		&:hover {
			background: rgba(219, 219, 219, 0.5);
		}
	}

	.popUp__footer {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		> span {
			font-family: Rubik, sans-serif;
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: #2d2d2d;
		}
	}
}
