.link {
	font-weight: 700;
	line-height: 24px;
	font-family: Rubik, sans-serif;
	font-size: 16px;
	color: #9d7b6d;
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 6px;
	text-decoration-thickness: 1px;
}
