.file {
	width: 100%;

	> input {
		display: none;
	}

	> label {
		cursor: pointer;
		background: #95a4aa;
		color: #fff;
		font-family: Rubik, sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		padding: 14px 24px;
		border-radius: 8px;
		gap: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
	}
}
