.sidebar {
	flex: 0 0 205px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 16px 16px 0 #0000001a;
	max-height: 276px;

	.popUp__header {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #e0e0e0;
		padding: 10px;

		.popUp__avatar_name {
			display: flex;
			flex-direction: column;
			margin-left: 8px;

			> b {
				font-family: Rubik, sans-serif;
				font-weight: 600;
				font-size: 14px;
				line-height: 14px;
			}

			> span {
				font-family: Rubik, sans-serif;
				font-weight: 500;
				font-size: 14px;
				line-height: 16.8px;
				color: #6e7191;
			}
		}
	}

	.popUp__content {
		margin-top: 16px;

		> a {
			display: flex;
			align-items: center;
			padding: 10px;
			transition: 0.2s ease-in;

			> span {
				font-family: Rubik, sans-serif;
				font-weight: 700;
				font-size: 14px;
				line-height: 20px;
				color: #2d2d2d;
				margin-left: 16px;
			}

			&:not(:first-child) {
				margin-top: 8px;
			}

			&:hover {
				background: rgba(219, 219, 219, 0.5);
			}

			&.active {
				background: rgba(219, 219, 219, 0.5);
			}
		}
	}

	.popUp__footer {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		> span {
			font-family: Rubik, sans-serif;
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: #2d2d2d;
		}
	}
}
