.header__social {
	.header__social_links {
		display: flex;
		align-items: center;

		> span {
			font-family: Rubik, sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 22.4px;
			font-style: normal;
			white-space: nowrap;
		}

		> a {
			margin-left: 16px;

			> img {
				min-width: 33px;
			}
		}
	}

	.header__social_email {
		display: flex;
		align-items: center;

		> span {
			margin-left: 8px;
			font-family: Rubik, sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 22.4px;
			font-style: normal;
		}
	}

	@media (max-width: 973px) {
		.header__social_links {
			> span {
				font-size: 14px;
			}

			> a {
				margin-left: 4px;

				> img {
				}
			}
		}

		.header__social_email > span {
			margin-left: 4px;
			font-size: 14px;
		}
	}
}
