.wrapper {
	margin-top: 16px;
	border-left: 1px solid #e0e0e0;
	padding-left: 16px;

	@media (max-width: 656px) {
		border: none;
		padding: 0;
	}

	.container {
		display: flex;
		margin-top: 16px;

		@media (max-width: 1014px) {
			flex-direction: column;
		}
	}
}
