.wrapper {
	display: flex;
	margin-top: 13px;
	padding: 0 15px;

	@media (max-width: 656px) {
		> aside {
			display: none;
		}
	}

	.content {
		margin-left: 16px;
		flex: 1;

		@media (max-width: 656px) {
			margin-left: 0;
		}
	}
}
