.checkbox {
	> input {
		position: absolute;
		z-index: -1;
		opacity: 0;

		& + label {
			display: inline-flex;
			align-items: center;
			user-select: none;
		}

		& + label::before {
			content: '';
			display: inline-block;
			width: 1em;
			height: 1em;
			flex-shrink: 0;
			flex-grow: 0;
			border: 1px solid #adb5bd;
			border-radius: 0.2em;
			margin-right: 0.5em;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50% 50%;
		}

		&:checked + label::before {
			border-color: #ea0c0c;
			background-color: #ea0c0c;
			background-image: url('../../../../assets/images/check.svg');
			background-size: contain;
			transition: 0.2s ease-in;
		}
	}

	> label {
		font-family: Rubik, sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 22.4px;
	}
}
